<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body class="container">
  	<header>
  		<% include ../partials/header %>
  	</header>
    <main>
    	<div class="jumbotron">
    		<h1>sad00</h1>
    		<p>dasdas</p>
    	</div>
    <!-- sula github -->
    </main>
    <div class="row">
    	<% include ../partials/product %>
    	<% include ../partials/product %>
    	<% include ../partials/product %>
    	<% include ../partials/product %>
    	<% include ../partials/product %>
    	<% include ../partials/product %>
    </div>
  </body>
</html>
